[submodule "puppet/modules/vcsrepo"]
	path = puppet/modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "puppet/modules/postgresql"]
	path = puppet/modules/postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt
[submodule "puppet/modules/concat"]
	path = puppet/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "puppet/modules/nginx"]
	path = puppet/modules/nginx
	url = https://github.com/jfryman/puppet-nginx.git
